

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {

}

.outerWrap {
    @include flexMiddle();
    padding: modScale(2) + rem;
}

.leftSection {
    width: span(8 of 12);
}

.rightSection {
    width: span(4 of 12);
}